body {
  background-color: hotpink;
  font-family: "Rye", serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
